.gitignore file for phantom_db project

# Sensitive information
config/credentials.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VSCode
.vscode/
*.code-workspace

# Credentials
config/credentials.toml

# Environment
.env
.venv
env/
venv/
ENV/

# Data
data/processed/
data/interim/

# Logs
logs/
*.log